# Variables
- In Python, a variable is a named reference to a value stored in the computer's memory, allowing developers to manipulate and work with data. Variables can hold various types of data, including numbers, strings, lists, dictionaries, or custom objects, and their values can be modified during the program's execution.

In [85]:
name = 'huzefa' # Variable name is name. It can be consist of character and number but cannot be start with number
age = 30

In [86]:
123 = 1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (851004004.py, line 1)

In [ ]:
# We cannon use keyword as variable name
if = 'hi'

# Expression and Statements
- In Python, expressions are pieces of code that produce a value when evaluated. They can consist of literals, variables, operators, and function calls. Examples of expressions include 2 + 3, variable_name, len("hello"), etc.
- Statements, on the other hand, are complete lines of code that perform an action. They can include expressions but can also consist of control structures like if statements, loops, function definitions, etc. Essentially, statements are instructions that Python can execute. Examples of statements include assignment statements (x = 5), conditional statements (if, else, elif), loops (for, while), and function definitions (def my_function():).

In summary:

    Expressions produce values.
    Statements perform actions or commands.

In [87]:
1 + 1  # Expressions

2

In [88]:
'Huzefa Battiwala' # Expression

'Huzefa Battiwala'

In [90]:
name = "Huzefa Battiwala" # statement

In [91]:
print(name) # statement

Huzefa Battiwala

In [92]:
name = "Huzefa Battiwala";print(name)

Huzefa Battiwala

# Comments
- In Python, comments are text that are ignored by the interpreter during runtime and are used to provide explanations, documentation, or notes within the code for developers.

In [93]:
# Comments

# Data types

In Python, data types specify the type of values that variables can hold. Some of the common built-in data types in Python include:

- Numeric Types:
    - int: Integer values (e.g., 5, -3, 1000).
    - float: Floating-point values (e.g., 3.14, -0.001, 2.0).

- Sequence Types:
    - str: String values, representing text (e.g., "hello", 'python', "123").
    - list: Ordered collection of items (e.g., [1, 2, 3], ['a', 'b', 'c']).
    - tuple: Ordered, immutable collection of items (e.g., (1, 2, 3), ('x', 'y', 'z')).

- Mapping Type:
    - dict: Collection of key-value pairs (e.g., {'name': 'John', 'age': 30}, {'a': 1, 'b': 2}).

- Set Types:
    - set: Unordered collection of unique items (e.g., {1, 2, 3}, {'a', 'b', 'c'}).
    - frozenset: Immutable version of set.

- Boolean Type:
    - bool: Represents boolean values True or False.

- None Type:
    - None: Represents the absence of a value or a null value.

- Binary Types:
    - bytes: Immutable sequence of bytes (e.g., b'hello', b'\x00\xff').
    - bytearray: Mutable sequence of bytes.

## String-Data type

In Python, the string data type (str) represents sequences of characters, typically used to store and manipulate textual data. Strings can be created using single quotes (') or double quotes (") interchangeably. They can contain letters, numbers, symbols, and whitespace characters

In [102]:
name = 'Huzefa Battiwala'
print(type(name))

<class 'str'>

In [103]:
isinstance(name,str)

True

In [104]:
name = 'Huzefa Battiwala'

# Integers

In [98]:
age = 2
print(type(age))
print(isinstance(age,int))

<class 'int'>
True

# Float

In [100]:
height = 6.0
print(type(height))
print(isinstance(height,float))

<class 'float'>
True

# Coverting data type

In [101]:
# From string to int
age = '20'
age = int(age)
print(type(age))
print(isinstance(age,int))

<class 'int'>
True

# Operators

## Airthmetic operators:
- Arithmetic operators in Python are used to perform mathematical operations on numeric values. Here are the commonly used arithmetic operators:

In [105]:
# Addition (+): Adds two operands.

num_1 = 10
num_2 = 15
num_1 + num_2

25

In [106]:
# Subtraction (-): Subtracts the right operand from the left operand.

num_1 = 10
num_2 = 15
num_1 - num_2

-5

In [108]:
# Multiplication (*): Multiplies two operands

num_1 = 10
num_2 = 15
num_1 * num_2

150

In [110]:
# Division (/): Divides the left operand by the right operand (returns a float).

num_1 = 4
num_2 = 2
num_1 / num_2

2.0

In [111]:
# Floor Division (//): Divides the left operand by the right operand and returns the quotient 
# as an integer (floor division).

num_1 = 4
num_2 = 2
num_1 // num_2

2

In [112]:
# Modulus (%): Returns the remainder when the left operand is divided by the right operand.

num_1 = 4
num_2 = 2
num_1 % num_2

0

## Comparison operators:
* Comparison operators in Python are used to compare the values of operands. They return boolean values (True or False) based on whether the comparison is true or false. Here are the commonly used comparison operators

In [114]:
# Equal to (==): Checks if the values of two operands are equal
result = 5 == 3  
print(result)

False

In [115]:
# Not equal to (!=): Checks if the values of two operands are not equal.
result = 5 != 3  
print(result)

True

In [116]:
# Greater than (>): Checks if the left operand is greater than the right operand.
result = 5 > 3  
print(result)

True

In [117]:
# Less than (<): Checks if the left operand is less than the right operand.
result = 5 < 3  
print(result)

False

In [118]:
# Greater than or equal to (>=): Checks if the left operand is greater than or equal to the right operand
result = 5 >= 3  
print(result)

True

In [119]:
# Less than or equal to (<=): Checks if the left operand is less than or equal to the right operand.
result = 5 <= 3  
print(result)

False

## Logical operators
- Logical operators in Python are used to perform logical operations on boolean values or expressions. They allow you to combine multiple conditions and evaluate them together

In [120]:
# AND (and): Returns True if both operands are true, otherwise returns False.

result = True and False
print(result)
result = False and True
print(result)

result = False and False
print(result)

result = True and True
print(result)

False
False
False
True

In [121]:
# OR (or): Returns True if at least one of the operands is true, otherwise returns False.

result = True or False
print(result)
result = False or True
print(result)

result = False or False
print(result)

result = True or True
print(result)

True
True
False
True

In [124]:
# NOT (not): Returns the opposite boolean value of the operand.

result = not False
print(result)
result = not True
print(result)

True
False

## Identity Operators:
- It is used to test relationships variables

In [125]:
# is: Returns True if both operands refer to the same object, otherwise returns False.
lst_1 = [1,2,3,4,5]
lst_2 = [1,2,3,4,5]
lst_1 is lst_2

False

In [126]:
lst_1 = [1,2,3,4,5]
lst_2 = [1,2,3,4,5]
lst_1 is not lst_2

True

## Membership Operators
It is used to test relationships between values

In [128]:
# in:  Returns True if a specified value is present in a sequence (e.g., string, list, tuple, set, or dictionary keys), 
# otherwise returns False.
my_list = [1,2,3,4,5]
num = 5
num in my_list

True

In [129]:
# not in: Returns True if a specified value is not present in a sequence, otherwise returns False.
my_list = [1,2,3,4,5]
num = 5
num not in my_list

False

# Ternary operator:
In Python, the ternary operator is a conditional expression that allows you to write an if-else statement in a single line. It has the following syntax:

In [133]:
condition = True
result = 'true_value' if condition else 'false_value'
result

'true_value'

### String

In [139]:
name = 'Huzefa'
name = "huzefa"

# Concatenate
phrase = "Huzefa"+" is my name"
print(phrase)

name = 'Huzefa'
name+= ' is my name'
print(name)

age = str(30)
print(age)

Huzefa is my name
Huzefa is my name
30

In [141]:
# Multi line string
print("""
Huzefa
is
30
years 
old
""")

Huzefa
is
30
years
old

In [144]:
# Converts all characters in the string to upper, lower and first letter capital and first letter of every word capital
name = 'huzefa'
print(name.upper())

name = 'HUZEFA'
print(name.lower())

name = 'huzefa'
print(name.title())

phrase = 'hello world!'
print(phrase.capitalize())

HUZEFA
huzefa
Huzefa
Hello world!

In [145]:
# Split the string
phrase = 'hello world'
print(phrase.split())

['hello', 'world']

In [149]:
# join the string
data = ['Hello', 'World']
print(' '.join(data))

data = {'Hello', 'World'}
print(' '.join(data))

data = ('Hello', 'World')
print(' '.join(data))

Hello World
Hello World
Hello World

In [165]:
# find-Returns the index of the first occurrence of a substring within the string, or -1 if not found.
phrase = 'Hello World!'
print(phrase.find('World'))

# if value is not available, it provides an output -1
phrase = 'Hello World!'
print(phrase.find('h'))

6
-1

In [151]:
# replace(): Replaces occurrences of a substring with another substring.
phrase = "Hello World"
print(phrase.replace('World','Python'))

Hello Python

In [153]:
# startswith(): Checks if the string starts with the specified prefix
phrase = "Hello World"
print(phrase.startswith('Hello'))

True

In [155]:
# endswith(): Checks if the string ends with the specified suffix.
phrase = 'Hello World'
print(phrase.endswith('ld'))

True

In [161]:
# count(): Returns the number of occurrences of a substring within the string
phrase = 'Hello World'
print(phrase.count('l'))

3

In [164]:
# index(): Returns the index of the first occurrence of a substring within the string, 
# or raises a ValueError if not found.
phrase = 'Hello World'
print(phrase.index('l'))

# if the value is not available, it throws an error as -1
phrase = 'Hello World'
print(phrase.index('h'))

2

ValueError: substring not found

In [168]:
# isdigit(): Returns True if all characters in the string are digits, otherwise returns False.
phrase = 'Hello World!'
print(phrase.isdigit())

phrase = '123'
print(phrase.isdigit())

phrase = '123a'
print(phrase.isdigit())

False
True
False

In [170]:
# isalpha(): Returns True if all characters in the string are alphabetic, otherwise returns False.
phrase = 'Hello World'
print(phrase.isalpha())

phrase = 'Hello World1'
print(phrase.isalpha())

phrase = '123'
print(phrase.isalpha())

phrase = 'HelloWorld'
print(phrase.isalpha())

False
False
False
True

In [174]:
# isalnum(): Returns True if all characters in the string are alphanumeric (either letters or numbers),
# otherwise returns False.
phrase = 'Hello World'
print(phrase.isalnum())

phrase = 'Hello World1'
print(phrase.isalnum())

phrase = 'HelloWorld1'
print(phrase.isalnum())

False
False
True

In [184]:
# isspace(): Returns True if all characters in the string are whitespace characters, otherwise returns False
phrase = 'Hello World'
print(phrase.isspace())

phrase = ' '
print(phrase.isspace())

False
True

In [188]:
# partition(): Splits the string into three parts based on the first occurrence of a separator, 
# returning a tuple containing the part before the separator, the separator itself, and the part after the separator.
phrase = 'Hello World! Welcome to Python tutorial.'
print(phrase.partition(' '))

('Hello', ' ', 'World! Welcome to Python tutorial.')

In [189]:
# len-global function with string
phrase = 'Hello'
len(phrase)

5

# Escape Character

In Python, escaping characters is a mechanism used to represent special characters within a string. Special characters are those that have a special meaning in Python strings, such as newline (\n), tab (\t), single quote (\'), double quote (\"), backslash (\\), etc.

In [194]:
phrase = 'Hello\n World'
print(phrase)

phrase = 'Hello\\n World'
print(phrase)

phrase = 'Hello World\'s'
print(phrase)

Hello
 World
Hello\n World
Hello World's

- In Python, strings are sequences of characters, and you can access individual characters or subsequences (slices) of characters using indexing and slicing.

# Accessing Individual Characters:

- You can access individual characters of a string using indexing. Indexing starts from 0 for the first character and goes up to len(string) - 1 for the last character.

In [195]:
phrase = 'Hello World'
phrase[0]

'H'

In [196]:
phrase[1]

'e'

# Slicing Subsequences:

- You can also extract subsequences (slices) of characters from a string using slicing. Slicing allows you to extract a portion of the string specified by start and end indices.

In [197]:
phrase[:-1]

'Hello Worl'

# Bool
* Boolean is a data type in Python that represents one of two possible values: True or False. Boolean values are primarily used for logical operations, comparisons, and control flow in Python programs.
* Lists, Tuple, set are False if they are empty

In [198]:
done = True
if done:
    print('Yes')
else:
    print('No')

Yes

In [199]:
done = False
if done:
    print('Yes')
else:
    print('No')

No

In [200]:
done = ""
if done:
    print('Yes')
else:
    print('No')

No

In [201]:
done = "False"
if done:
    print('Yes')
else:
    print('No')

Yes

In [202]:
my_list = ['book_1','book_2']
print(all(my_list))

True

In [203]:
my_list = ['book_1','book_2']
print(any(my_list))

True

In [204]:
my_list = ['book_2']
print(all(my_list))

True

# Built-in functions

In [205]:
# abs
print(-5)
print(abs(-5))

-5
5

In [207]:
# round
print(round(5.9,))

6

# User input

In [209]:
age = input('What is your age? ')
print("Your age is "+age)

What is your age? 30
Your age is 30

# Control statements

# Lists
- In Python, a list is a versatile data structure that can contain a sequence of elements. Lists are ordered, mutable (modifiable), and can contain elements of different data types.

In [210]:
dogs = ['Roger','Syd',1,True]

In [212]:
print('Roger' in dogs)

True

In [213]:
dogs = [] # empty list

In [216]:
# Accesing an element in list
dogs = ['Roger','Syd',1,True]
dogs[0]

'Roger'

In [217]:
dogs[2] = 'Beau' # updating the element in list
dogs

['Roger', 'Syd', 'Beau', True]

In [219]:
# Slicing the list
dogs[2:4]

['Beau', True]

In [220]:
# adding an item in list with append
dogs.append('Judah')

In [224]:
# adding an items in list with extending with another list
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,0]
list_1.extend(list_2)
print(list_1)

print(list_1+list_2)
list_1+=list_2
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 6, 7, 8, 9, 0]

In [226]:
# Removing an item from list
list_1 = [1,2,3,4,5]
list_1.remove(5)
list_1

[1, 2, 3, 4]

In [228]:
# pop an item from list
list_1 = [1,2,3,4,5]
a = list_1.pop(1)
print(a)
print(list_1)

2
[1, 3, 4, 5]

In [234]:
# insert use to add an item in list at specific index and the previous number will shigt one index further
list_1 = [1,2,3,4,5,6,7,8,9,0]
list_1.insert(1,'Hello')
print(list_1)

[1, 'Hello', 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [241]:
# inserting multiple items in list
list_1 = [1,2,3,4,5]
list_1[1:1] = ['Hello','Hello','Huzefa']
list_1

[1, 'Hello', 'Hello', 'Huzefa', 2, 3, 4, 5]

In [243]:
# Sorting a list: It sorted the list
list_1 = [5,4,3,2,1]
list_1.sort()
print(list_1)

[1, 2, 3, 4, 5]

In [245]:
list_1 = ['Roger','beau','Quincy',1]
list_1.sort()
print(list_1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [248]:
list_1 = ['Roger','beau','Quincy']
list_1.sort(key=str.lower)
print(list_1)

['beau', 'Quincy', 'Roger']

In [ ]:
list_1 = ['Roger','beau','Quincy']
list_1.sort()
print(list_1)

In [250]:
# Sorting: Without changing the order of original list

list_1 = [1,2,3,45,6,87,21,69,71,3]
list_2 = sorted(list_1)
print(list_1)
print(list_2)
list_1.

[1, 2, 3, 45, 6, 87, 21, 69, 71, 3]
[1, 2, 3, 3, 6, 21, 45, 69, 71, 87]

# Tuples
- Tuples are another fundamental data structure in Python, similar to lists, but with one key difference: they are immutable. This means that once created, the elements of a tuple cannot be changed or modified. Tuples are typically used to store collections of heterogeneous data (i.e., data of different types) and are commonly used for returning multiple values from a function.

In [277]:
names=('Roger','Syd')

In [278]:
names[0]

'Roger'

In [279]:
names[1]

'Syd'

In [280]:
names.index('Roger')

0

In [281]:
len(names)

2

In [282]:
print('Roger' in names)

True

In [283]:
name_1,name_2 = names

In [284]:
name_1

'Roger'

In [285]:
sorted(names)

['Roger', 'Syd']

In [286]:
names

('Roger', 'Syd')

In [287]:
new_names = ('Tina','Quincy')
names += new_names

In [288]:
names

('Roger', 'Syd', 'Tina', 'Quincy')

# Dictionary
- In Python, a dictionary is a collection of key-value pairs. Dictionaries are unordered, mutable (modifiable), and can contain elements of different data types.

In [291]:
dog = {'name':'Roger','age':8}

In [292]:
dog['name']

'Roger'

In [293]:
dog['age']

8

In [294]:
dog['name'] = 'Syd'

In [295]:
dog

{'name': 'Syd', 'age': 8}

In [299]:
# Accessing a dictionary
print(dog.get('name'))
print(dog['name'])

Syd
Syd

In [303]:
dog = {'name':'Roger','age':8}
print(dog.get('color','brown'))
print(dog)

brown
{'name': 'Roger', 'age': 8}

In [304]:
dog = {'name':'Roger','age':8,'color':'green'}
print(dog.get('color','brown'))
print(dog)

green
{'name': 'Roger', 'age': 8, 'color': 'green'}

In [305]:
dog = {'name':'Roger','age':8,'color':'brown'}
a = dog.pop('color')
print(dog)
print(a)

{'name': 'Roger', 'age': 8}
brown

In [306]:
# popitem-remove last item in dictionary
dog = {'name':'Roger','age':8,'color':'brown'}
a = dog.popitem()
print(dog)
print(a)

{'name': 'Roger', 'age': 8}
('color', 'brown')

In [307]:
print('age' in dog)
print(8 in dog)

True
False

In [308]:
# keys-to view the keys in dictionary
dog = {'name':'Roger','age':8,'color':'brown'}
print(dog.keys())

dict_keys(['name', 'age', 'color'])

In [309]:
# values-to view the values in dictionary
dog = {'name':'Roger','age':8,'color':'brown'}
print(dog.values())

dict_values(['Roger', 8, 'brown'])

In [311]:
#items-to view the keys and values in dictionary
dog = {'name':'Roger','age':8,'color':['brown','green']}
print(dog.items())

dict_items([('name', 'Roger'), ('age', 8), ('color', ['brown', 'green'])])

In [313]:
for i,j in dog.items():
    print(i,j)

name Roger
age 8
color ['brown', 'green']

In [314]:
len(dog)

3

In [317]:
# Adding key value pair to dictionary
dog['favorite food']='Meat'
print(dog)

{'name': 'Roger', 'age': 8, 'color': ['brown', 'green'], 'favorite food': 'Meat'}

In [318]:
dog.clear()

In [319]:
dog

{}

In [320]:
dog = {'name':'Roger','age':8,'color':'brown'}
del dog['color']
print(dog)

{'name': 'Roger', 'age': 8}

In [323]:
dog.setdefault('favorite')

In [324]:
dog

{'name': 'Roger', 'age': 8, 'food': 'meat', 'favorite': None}

In [327]:
# Dictionary comprehension
my_dict = {'a':1,'b':2,'c':3}
my_dict={key:value**2 for key,value in my_dict.items() }

In [328]:
my_dict

{'a': 1, 'b': 4, 'c': 9}

# Sets

- In Python, a set is an unordered collection of unique elements. Sets are mutable (modifiable), but they do not support duplicate elements.

In [329]:
names = {'Roger','Syd'}

In [332]:
name_1 = {'Roger'}
intersect = name_1 & names
print(intersect)

{'Roger'}

In [337]:
name_set_1 = {'Roger','Syd'}
name_set_2 = {'Roger'}
_ = name_set_1 - name_set_2
_

{'Syd'}

In [339]:
# Set Comprehensions:
# Set comprehensions provide a concise way to create sets based on existing sets or other iterables.
num_set = {1,2,3,4,5,6,6}
num_set={x*2 for x in num_set}
print(num_set)

{2, 4, 6, 8, 10, 12}

# Functions
- In Python, a function is a block of reusable code that performs a specific task. Functions allow you to organize code into manageable pieces, improve code readability, and promote code reusability. 
- The function can contatin one or more parameters

In [341]:
def hello():
    print('Hello!')

In [342]:
hello()

Hello!

In [343]:
def hello(name):
    print('Hello! ' + name)

In [344]:
hello('Huzefa')

Hello! Huzefa

In [346]:
# Parameters and Arguments: Functions can accept input parameters, which are specified within the parentheses in the 
# function definition. When calling the function, values passed to these parameters are called arguments.
def hello(name='my friend'):
    print('Hello! '+ name)
hello()

Hello! my friend

In [348]:
def hello(name,age):
    print('Hello! '+ name +", you are "+str(age)+" years old.")
hello('Huzefa',30)

Hello! Huzefa, you are 30 years old.

In [349]:
# Default Parameters:
# Function parameters can have default values, which are used when the caller does not provide a value for the parameter.

def greet(name="World"):
    print("Hello,", name)

greet()  # Calling greet without providing a name argument, uses the default value "World"

Hello, World

In [ ]:
# Variable Scope
# Variables defined inside a function are local to that function and cannot be accessed outside of it. 
# Global variables, defined outside of any function, can be accessed within functions using the global keyword.

In [355]:
age = 8 

def test():
    print(age)
    
print(age)

8

In [356]:
age = 8 # Global variable, its declare outside the variable

def test():
    age=7
    print(age)
    
print(age)

8

In [1]:
def test():
    age=8 # local variable, its decleare inside the function
    print(age)
    
print(age) # This will throw an error because the variable is 
# inside the function

NameError: name 'age' is not defined

In [3]:
def test():
    global age
    age=5
    print(age)
    

test()    
print(age) # Before accessing the variable inside the function,
# the function needs to be exexcuted before

5
5

In [4]:
# Nested Function: A function inside a function is 
# called as Nested function. Nested function can only be accessed inside
# the function and not outside the function

def talk(phrase):
    def say(word):
        print(word)
    
    words = phrase.split()
    for word in words:
        say(word)

In [5]:
say()

NameError: name 'say' is not defined

In [14]:
# In Python, the nonlocal keyword is used to indicate that a variable 
# in a nested function scope is not local to that function but is 
# defined in the enclosing (outer) scope. This allows you to modify 
# variables from an outer scope within a nested function. 
# The nonlocal keyword is typically used when you want to update
# variables in an enclosing scope from within a nested function,
# especially when dealing with closures.

def outer_function():
    x = 10
    def inner_function():
        x+=5
    inner_function()
    print(f"Value of x after modification {x}")

In [15]:
outer_function()

UnboundLocalError: local variable 'x' referenced before assignment

In [16]:
def outer_function():
    x = 10
    def inner_function():
        nonlocal x
        x+=5
    inner_function()
    print(f"Value of x after modification {x}")
outer_function()

Value of x after modification 15

# Objects
- In python, everything is an object. This includes integers, strings, functions, classes, modeules, and even types like int and str. Hence, Python is said to be Object oriented programming language. Everything in python, we interact is an object, including variables, functions and data structures. Objects have an attribute (charecteristics) and methods (functions associated with them)
- Objects have types, which determines what kind of object it is and what operations can be performed on it.
- We can define your own custom objects (classes) in Python, allowing you to create new types of objects with custom attributes and methods.
- Some objects in Python are mutable, meaning their value can be changed after creation (e.g., lists), while others are immutable, meaning their value cannot be changed (e.g., strings, tuples).

# Loops
- Loops in Python allow you to execute a block of code repeatedly. There are mainly two types of loops in Python: for loops and while loops.
1. for Loops: for loops are used to iterate over a sequence (such as a list, tuple, string, or range) and execute the block of code for each item in the sequence.
2. 'while' loops: while loops are used to execute a block of code repeatedly as long as a specified condition is true

In [22]:
# While loops
condition = True
while condition == True:
    print("The condition is True")
    condition=False

The condition is True

In [23]:
count = 0
while count<10:
    print("The condition is true")
    count+=1

The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true
The condition is true

In [27]:
# For Loops
items = ['a','b','c','d','e']
for i in items:
    print(i)

a
b
c
d
e

In [29]:
# For loops with index of item
items = ['a','b','c','d','e']
for i,j in enumerate(items):
    print(i,j)

0 a
1 b
2 c
3 d
4 e

## Control statements in loops:
In python breakm continue and pass are three loop control statements used within loops to control their flow. 

1. break: The break statement is used to terminate the loop immediately when a certain condition is met. Once the break statement is encountered within the loop, the llop is exited, and the program continue with the next statement after the loop.
2. continue: The continue statement is used to skip the rest of the loop's bode for the current iteration and continue with the next iteration of the loop. It effectively skips the remaining code in the loop for current iteration.
3. pass: The pass statement is a null operation that does nothing. It acts as a placeholder when a statement is syntactically required but no action is needed. It is often used a placeholder in empty loops or conditional blocks.

In [32]:
for i in range(5):
    if i == 4:
        break
    print(i)

0
1
2
3

In [33]:
for i in range(5):
    if i ==2:
        continue
    print(i)

0
1
3
4

In [34]:
for i in range(5):
    if i==2:
        pass
    print(i)

0
1
2
3
4

# Class
In python, class is a blueprint for creating objects. It defines the attributes (data) and method (functions) that all objects created from the class will have.

In [35]:
# Defining a class
# A class is defined using the class keyword followed by the class 
# name and colon
class MyClass:
    pass

In [36]:
MyClass

__main__.MyClass

In [37]:
# Creating Objects (Instances)
# Once a class is defined, you can create objects (instances) of that
# class using class name followed by parentheses(). This calls the class's
# constructor method
obj = MyClass()
obj

In [39]:
# Class Constructor
# The __init__ method is a special method/function (also called the 
# constructor) that is automatically called when a new object is created.
# It is used to initialize the object's attributes
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        

Person = Person('Alice',30)

In [6]:
# Class attributes and Methods
# Attributes are variables that hold data associated with the class or
# its objects, while methods are functions defined within the class that
# can perform actions or manipulate the class's data.

class Dog:
    species = 'Canine' # Class attribute
    def __init__(self,name):
        self.name=name # Instance attribute
        
    def bark(self):
        print('Woof!') # Method
        
dog1 = Dog('Buddy')

In [9]:
dog1 = Dog('Buddy')
print(dog1.name) # Accessing instance attribute
print(dog1.bark()) # Calling method
print(dog1.species) # Accessing class attribute

Buddy
Woof!
None
Canine

In [25]:
# Inheritance:
# Inheritance allows a class (subclass) to inherit the attributes and 
# methods from another class (superclass). This promotes code reuse and 
# allows for creating specialized classes based on existing ones.

class Animal:
    def sound(self):
        return 'Animal makes a sound'
class Dog(Animal): # Dog inherits from Animal
    def bark(self):
        return "Woof!"
    
dog = Dog()
print(dog.sound())
print(dog.bark())

Animal makes a sound
Woof!

In [19]:
type(Dog())

__main__.Dog

# Modules
- In python, a module is a file containing Python code, typically containing definitions of functions, classes, and variables. Modules allow you to organize your Python code logically and facilitate code reuse and sharing.

# Lambda
- A lambda function in python is a small anonymous function defined using the lambda keyword. It's called annonymous because it doesn't have a name like a regular function defined using def keyword. Lambda functions can have any number of parameters but can only have one expression. They are often used as quick way to create simple, one-line functions.

lamda arguments:expression

In [27]:
# Regular function
def add(x,y):
    return x+y
add_lambda = lambda x,y: x+y
    
print(add(5,3))
print(add_lambda(5,3))

8
8

Lambda functions are commonly used with functions that accept other functions as arguments, such as map(), filter() and sorted(), or in situations where a small, anonymous functions is needed for a shorter period of time.

## Map
- The map() function applied a given function to each item of an iterable(such as a list) and returns an iterator that yields the results. It takes two arguments, the function to apply and iterable to apply it to.
map(function,iterable)

In [35]:
numbers = [1,2,3,4,5,6]
squared_numbers = map(lambda x: x**2,numbers)
list(squared_numbers)

[1, 4, 9, 16, 25, 36]

## Filter 
- The filter functions filters an iterable to keep only the elements for which a given function returns True. It takes two arguments, the function that defines the filtering condition and iterable to filter.
- filter(function,iterable)

In [36]:
numbers = [1,2,3,4,5,6,7,8]
is_even = filter(lambda x: x%2==0,numbers)
list(is_even)

[2, 4, 6, 8]

## Reduce

- The reduce function applies a rolling computation to sequential pairs of elements in an iterable, reducing them to single value. It takes three arguments: the function that defines the computation, the iterable to apply it to, and an optional initializer

- reduce(function,iterable,initializer=None)

In [38]:
from functools import reduce
numbers = [1,2,3,4,5,6,7,8]

addition = reduce(lambda x,y:x+y,numbers)
addition

36